body{

    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right,#FFDB01,#0E197D);
}

.container{
    max-width: 600px;
    margin-top: 70px;
    margin:auto;
    display: grid;
    align-items: center;
    padding: 60px;
}

.quiz-container{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.timer{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

#question-container{
    margin-bottom: 20px;
}

#choices li{
    margin-bottom: 10px;

}

#submit-btn{
    font-size: 18px;
}

#score{
    font-weight: bold;
}